@media (min-width:991px) {
    .nav-item:nth-child(3){
        display: none;
    }
    .navbar{
        margin: 0;
    }
    #Categories{
        background-color: rgb(224, 218, 218);
        max-width: 95%;
        box-shadow: black 0px 5px 15px;
     }
     #Categories .content{
        padding: 15px;
     }
    #content input{
        display: inline-block;
        margin-top: 30px;
    }
    #content h2{
        margin-top: 50px;
    }
    .info{
        display: flex;
    }
    .info-details:nth-child(6){
        display: none;
    }
    .content h3{
        margin-left: 40%;
    }
    #about{
        margin: 0;
    }
    .about-career {
        margin: 50px 7%;
    }
    .about-career p{
        font-size: 25px
    }
    .about-career h1{
        margin: 50px 0 50px 25% ;
    }
    .about-section{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .about-section img{
        display: inline-block;
        margin: 5rem 0 0 0;
        height: 50%;
        width: 300px;
    }
    .about-info p{
        max-width: 600px;
    }
    #therapy .detail img{
        margin:0;
        width: 40%;
        height: 600px;
        object-fit: cover;
    }
    #therapy .detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }
    .therapy-info p{
        width: 90%;
        margin: 0;
    }
    .therapy-info h4{
        margin-top: 30px;
    }
    #therapy h1{
        margin-bottom: 0;
    }
    #therapy .beauty-detail {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }
    #therapy .beauty-detail img{
        margin: 0;
        width: 30%;
        height: 500px;
        object-fit: cover;
        margin-right: 30px;
    }
    .footer .form{
        width: 40%;
        margin: 0 auto;
    }
    .footer img{
        width: 400px;
    }
    #contact-section h2{
        font-size: 25px;
    }

}